
{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  {%set img='img/'+post.img_file %}
  <header class="masthead" style="background-image: url('{{url_for('static',filename=img)}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">Computer is equivalent bicycle of our mind...</h2>
            <span class="meta">Posted by
              <a href="#">Dhruv Vavliya...</a>
              on August 24, 2019</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>{{post.content}}</p>
          <h3>This Blog written by {{post.creator}}</h3>
        </div>
      </div>
    </div>
  </article>

{% endblock %}

