
{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/post-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>This is Dhruv Vavliya...</h1>
            <h2 class="subheading">RISK he to ISHK he....</h2>
            <span class="meta">Posted by
              <a href="#">DPY Coder</a>
              on August 02 ,2002</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam consequuntur, corporis culpa cumque
              distinctio doloremque eligendi eos excepturi expedita facilis harum impedit laudantium natus,
              quod reiciendis sed unde voluptate?</p>
          <h3>This Blog written by Dhruv Vavliya...</h3>
        </div>
      </div>
    </div>
  </article>

{% endblock %}

